<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Procesamiento del Código de Barras</title>
</head>
<body>
    <h1>Resultado del Procesamiento del Código de Barras:</h1>
    <ul>
        {% for key, value in resultado.items() %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html>
